.form{
 margin-top: 100px;
 margin-left: 300px;
 display: block;
 align-items: center;
}

.input{
    display: flex;
    align-items:baseline;
    justify-content: center;
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
   
}

.table ul{
    margin-right: 10px;
    padding-right: 40px;
    box-sizing: border-box;
} 
