
.count{
    text-align: center;
}

.input{
    text-align: center;
}

.btn1{
    
    margin-left: auto;
   
}

.btn3{
    
    
    margin-right: auto;
}

.buttons{
    margin-left: auto;
    margin-right: auto;
    display: flex;
} 

#error{
    text-align: center;
    
    color: red;
}


